.user-image{
    width: 60px;
    height: 60px;
    object-fit: conver;
    border-radius: 50%;
}
.user-table{
    td{
        vertical-align: middle;
    }
}

.user-list{
    width: 100%;
    overflow-x: scroll;
}

.user-search{
    padding: .5rem;
}

.table-total{
    font-weight: 500;
    text-align: right;
    font-size: 1.25rem;
}

.user-form{
    max-width: 400px;
    margin:0 auto;
}
